.container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 2px;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    background-color: #05cdf5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    cursor: pointer;
  }
  
  .cell:hover {
    background-color: #b2ec37;
  }